---
layout: page
title: "About"
description: "「人生到处知何似，应似飞鸿踏雪泥」"
header-img: "img/bg-me-2022.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
  {% capture about_zh %}{% include about/zh.md %}{% endcapture %} {{ about_zh |
  markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
  {% capture about_en %}{% include about/en.md %}{% endcapture %} {{ about_en |
  markdownify }}
</div>

<script
  src="https://giscus.app/client.js"
  data-repo="4222222/4222222.github.io"
  data-repo-id="R_kgDORXsMZw"
  data-category="General"
  data-category-id="DIC_kwDORXsMZ84C3LYg"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="zh-CN"
  crossorigin="anonymous"
  async
></script>
